---
services:
  socks:
    image: socks:latest
    container_name: socks
    build:
      context: ./socks
      dockerfile: Dockerfile
    privileged: true
    tmpfs:
      - /tmp
      - /run
      - /run/lock
      - /sys/fs/cgroup
    cap_add:
      - SYS_ADMIN
    cgroup: host
    volumes:
      - ./t2s/socks/:/root/.config/t2s
      - ./gox/config.yaml:/config.yaml
    restart: unless-stopped
    ports:
      - 1081:1080/tcp # proxy to socks gateway only
    networks:
      torelka:
        ipv4_address: 172.20.100.2

  tor:
    image: tor:latest
    container_name: tor
    build:
      context: ./tor
      dockerfile: Dockerfile
    privileged: true
    tmpfs:
      - /tmp
      - /run
      - /run/lock
      - /sys/fs/cgroup
    cap_add:
      - SYS_ADMIN
    cgroup: host
    restart: unless-stopped
    volumes:
      - ./etc/tor:/etc/tor
      - ./t2s/tor/:/root/.config/t2s
      - ./gox/config.yaml:/config.yaml
    ports:
      - 1082:1080/tcp # proxy to full relay
    networks:
      torelka:
        ipv4_address: 172.20.100.3
    depends_on:
      - socks

  ubuntu:
    image: ghcr.io/devil666face/ubuntu-torelka:latest
    container_name: ubuntu
    hostname: ubuntu
    build:
      context: ./ubuntu
      dockerfile: Dockerfile
    tmpfs:
      - /tmp
      - /run
      - /run/lock
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    restart: unless-stopped
    ports:
      - 13389:3389/tcp # rdp
      - 2222:22/tcp # ssh
    networks:
      torelka:
        ipv4_address: 172.20.100.4
    depends_on:
      - tor
    dns: [172.20.100.3]

networks:
  torelka:
    name: torelka
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.100.0/24
          gateway: 172.20.100.1
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-torelka
