---
services:
  socks:
    image: ghcr.io/devil666face/socks:latest
    container_name: socks
    build:
      context: ./socks
      dockerfile: Dockerfile
    devices:
      - /dev/net/tun
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    volumes:
      - ./t2s/socks/:/root/.config/t2s
      - ./gox/config.yaml:/config.yaml
    restart: unless-stopped
    stop_grace_period: 5s
    ports:
      - 1081:1080/tcp # proxy to socks gateway only
    networks:
      torelka:
        ipv4_address: 172.20.100.100

  tor:
    image: ghcr.io/devil666face/tor:latest
    container_name: tor
    build:
      context: ./tor
      dockerfile: Dockerfile
    devices:
      - /dev/net/tun
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    restart: unless-stopped
    stop_grace_period: 5s
    volumes:
      - ./etc/tor:/etc/tor
      - ./t2s/tor/:/root/.config/t2s
      - ./gox/config.yaml:/config.yaml
    ports:
      - 1082:1080/tcp # proxy to full relay
    environment:
      GATEWAY: 172.20.100.100
    networks:
      torelka:
        ipv4_address: 172.20.100.254
    depends_on:
      - socks
    dns:
      - 172.20.100.100

  ubuntu:
    image: ghcr.io/devil666face/ubuntu-torelka:latest
    container_name: ubuntu
    hostname: ubuntu
    build:
      context: ./ubuntu
      dockerfile: Dockerfile
    tmpfs:
      - /tmp
      - /run/lock
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    restart: unless-stopped
    stop_grace_period: 5s
    ports:
      - 13389:3389/tcp # rdp
      - 2222:22/tcp # ssh
    environment:
      GATEWAY: 172.20.100.254
    networks:
      - torelka
    depends_on:
      - tor
    dns:
      - 172.20.100.254

networks:
  torelka:
    name: torelka
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.100.0/24
          gateway: 172.20.100.1
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-torelka
