proxy:
  type: socks
interface:
  device: tun0
  exclude:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 115.186.212.206/32
    - 195.52.161.35/32
    - 57.128.57.245/32
    - 91.134.99.182/32
  custom_routes: []
  metric: 512
  sleep: 0
socks:
  proto: socks5
  username: ""
  password: ""
  host: 127.0.0.1
  port: 9050
  args: ""
ssh:
  username: ""
  host: ""
  port: 22
  args: []
chisel:
  server: ""
  username: ""
  password: ""
  proxy: ""
dns:
  enable: true
  listen: 172.20.100.254
  render: true
  resolvectl: false
  resolvers:
    - ip: 172.20.100.100
      proto: udp
      port: 53
      rule: ""
  records:
    test.lan: 10.10.10.10
